
<script>
$('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
<div class="star-rating", data-score=<%=review.rating%>></div>


<p><%=review.comment  %></p>
<% if user_signed_in? %>
  <% if review.user_id == current_user.id  %>
    <%= link_to "Edit", edit_book_review_path(review.book,review) %>
    <%= link_to "delete", book_review_path(review.book,review), method: :delete, data: {comfirm: "are you sure!"} %>
  <% end %>
<% end %>
